body {
    margin: 0;
    font-family: "Yu Gothic"; 
    font-weight: lighter;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: lime;
}

a:hover {
    color: pink;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

img {
    object-fit: contain;
}

header#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
    padding: 12px 21px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

div#sitename {
    font-size: 26px;
    text-align: center;
    color: #333;
}

nav#menu {
}

nav#menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav#menu ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 13px;
}

nav#menu ul li a {
    color: #333;
}

nav#menu ul li a:hover {
    color: pink;
}

div#article-wrapper {
}

article.article {
    width: 360px;
    /* height: 300px; */
    margin: 120px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

article.article a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background: rgba(0, 0, 0, 0);
}

article.article a h1 {
    margin: 0;
    text-align: center;
    color: white;
    opacity: 0;
}

article.article img {
    width: 100%;
    /* height: 100%; */
    z-index: 100;
}

article.article.hover {
    border: 2px solid white;
}

article.article.hover a {
    background: rgba(0, 0, 0, 0.3);
}

article.article.hover h1 {
    opacity: 1;
}

article.article.hover img {
    opacity: 0;
}

article.article.hidden {
    opacity: 0;
}
