{{ template "header.html" }}

<h1>{{ .Article.Title }}</h1>
<img src="{{ .Article.Thumbnail }}">
<div id="article-body">
{{ .Article.Body }}
</div>
<p>Created: {{ .Article.CreatedAt.Day }} {{ .Article.CreatedAt.Month.String }} {{ .Article.CreatedAt.Year }}</p>
<p>Updated: {{ .Article.UpdatedAt.Day }} {{ .Article.UpdatedAt.Month.String }} {{ .Article.UpdatedAt.Year }}</p>

<p>Tags: {{ range .Article.Tags }}<a href="/tag/{{ . }}">{{ . }}</a> {{ end }}</p>

{{ if .Authenticated }}
<p><a href="/edit/{{ .Article.Url }}">Edit</a></p>
<p><a href="/delete/{{ .Article.Url }}">Delete</a></p>
<p><a href="/new">New</a></p>
{{ end }}

{{ template "footer.html" }}
